---
name: check
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - renovate/*
  pull_request:
    branches-ignore:
      - renovate/*

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          check-latest: true

      - name: Run linters
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: -v --timeout=5m

      - name: Run Test
        run: go test --race ./...
